.bookmark_table{
  margin-bottom: 20px;
}

.current_user{
  width: 500px;
  position: fixed;
  left: 900px;
  top: 60px;
}

.sign_out_option{
  left: 900px;
  position: fixed;
  top: 80px;
}

.duplicate_url_notice{
  margin-left: 900px;
}

.general_user, .current_user{
  font-weight: bold;
}

.public_descriptor{
  color: green;
}

.private_descriptor{
  color: red;
}

.url_display {
  width: 250px;
}

.alias_display{
  width: 250px;
}

.visibility_display{
  width: 50px;
}

.new_bookmark{
  background: #bbbbbb;
  width: 300px;
  position: fixed;
  left: 900px;
}

.actions input{
  margin-left: 180px;
  margin-bottom: 10px;
  background-color: #666666;
  color: #ffffff;
}

form input[type="text"]{
  margin-left: 20px;
  margin-bottom: 10px;
  width: 250px;
}

.url_panel, .alias_panel, .visibility_panel{
  margin-left: 10px;
}

.form_panel{
  border: 1px solid #AAAAAA;
}